:root { /* Configurable properties */
    --blue: #0099e0; /* Left Team */
    --red: #e83d3d; /* Right Team */
    --accent: #0A1428; /* accent color */
    --background: #1E2328;
    --font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font */
    --font-color: #fff;

    /* Vars to not be touched!!! */
    --draft_titleEdgeOffset: 16.5vw;
    --border: 0 0 6% 6%;
    --border-inverse: 6% 6% 0 0;
    --border-botright: 0 6% 0 0; /* doesn't work i dunno why */
    --border-all: 6% 6% 6% 6%;
}

body {
    background-color: transparent;
    margin: 0;
}

p {
    font-family: var(--font-fam);
    color: var(--font-color);
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

div {
    margin: 0;
}

/* DRAFT */

div.draft_titleBlock {
    width: 14vw;
	height: 9vh;
    position: absolute;
    border-radius: var(--border);
}

p.draft_titleBlock{
    font-size: 6vh;
}

div.draft_scoreBlock {
    width: 3vw;
    height: 7vh;
    position: relative;
    top: 8vh;
    border-radius: var(--border);
}

p.draft_scoreBlock {
    font-size: 4vh;
    top: 1vh;
}

div#draft_titleBlockBlue {
	/* transform: skew(20deg); */
    background: var(--blue);
    left: var(--draft_titleEdgeOffset);
}

div#draft_scoreBlockBlue {
    background: var(--blue);
}

div#draft_titleBlockRed {
    background: var(--red);
    right: var(--draft_titleEdgeOffset);
}

div#draft_scoreBlockRed {
    background: var(--red);
    float: right;
}

div#draft_bottom {
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    background-color: var(--accent);
}

p.draft_game {
    font-size: 8vh;
    height: 40%;
    top: 1vh;
}

p.draft_patch {
    font-size: 8vh;
    height: 40%;
    bottom: 4vh;
}

/* IN GAME */

div.game_titleBlock {
    width: 14vw;
	height: 5.6vh;
    position: absolute;
    border-radius: var(--border);
}

p.game_titleBlock{
    font-size: 4vh;
}

div.game_scoreBlock {
    width: 3vh;
    height: 3vh;
    position: relative;
    top: 4.1vh;
    border-radius: 50%;
}

p.game_scoreBlock {
    font-size: 2vh;
    top: 0.2vh;
}

div#game_titleBlockBlue {
    background: var(--blue);
    left: 10.4vw
}

div#game_scoreBlockBlue {
    background: var(--blue);
    right: -1.5vh;
    float: right;
}

div#game_titleBlockRed {
    background: var(--red);
    right: 9.7vw
}

div#game_scoreBlockRed {
    background: var(--red);
    left: -1.5vh;
}

div.game_bottom {
    width: 16vw;
    height: 11vh;
    position: absolute;
    bottom: 0;
    border: var(--border-botright);
    background: var(--accent);
}

p.game_game {
    font-size: 4vh;
    height: 40%;
}

p.game_patch {
    font-size: 4vh;
    height: 40%;
    bottom: 1.4vh;
}

/* Between Games/Score screen */
body.score_body {
    background: var(--background);
}

div.score_blueMain {
    position: absolute;

    top: 55vh;
    left: 16vw;

    width: 18vw;
    height: 12vh;

    background: var(--blue);

    border-radius: var(--border-all);
}

div.score_blueScore {
    position: absolute;

    top: 68vh;
    left: 21vw;

    width: 8vw;
    height: 16vh;

    background: var(--blue);

    border-radius: var(--border-all);
}

div.score_redMain {
    position: absolute;
    
    top: 55vh;
    right: 16vw;

    width: 18vw;
    height: 12vh;

    background: var(--red);

    border-radius: var(--border-all);
}

div.score_redScore {
    position: absolute;

    top: 68vh;
    right: 21vw;

    width: 8vw;
    height: 16vh;

    background: var(--red);

    border-radius: var(--border-all);
}

p.score_name {
    margin-top: -1vh;
    font-size: 10vh;
}

p.score_score {
    font-size: 12vh;
}

div.score_patch {
    position: absolute;

    bottom: 0;
    left: 40vw;

    width: 20vw;
    height: 8vh;

    background: var(--accent);

    border-radius: var(--border-inverse);
}

p.score_patch {
    font-size: 5vh;
}